# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/.next

# specific extensions
*.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Error logs
/npm-debug.log*

